# Supabase
SUPABASE_URL=https://etjqbqorawnnvdlmztka.supabase.co
SUPABASE_ANON_KEY=sua_anon_key_aqui
SUPABASE_SERVICE_ROLE_KEY=sua_service_role_key_aqui

# Uticket
UTICKET_EVENT_ID=01M5QB24FA2PLL
UTICKET_EMAIL=seu_email@email.com
UTICKET_SENHA=sua_senha_aqui
UTICKET_COOKIE=

# Sympla
SYMPLA_EVENT_ID=3419289
SYMPLA_API_TOKEN=seu_token_sympla_aqui
